* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 1rem;
}

header a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--text-color);
    border-radius: 20px;
}

header ul li a:hover {
    background: var(--hover-color);
    color:  var(--hover-text);
}

.fa-moon {
    cursor: pointer;
}

:root {
    --primary-color: rgb(252, 252, 240);
    --secondary-color: rgb(255, 255, 247);
    --text-color: black;
    --hover-color: beige;
    --hover-text: black;
}

.dark-theme {
    --primary-color: black;
    --secondary-color: rgb(35, 35, 35);
    --text-color: rgb(252, 252, 240);
    --hover-color: beige;
    --hover-text: black;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, var(--primary-color), var(--secondary-color) );
    color: var(--text-color);
}

.name {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 10rem;
    margin-left: 0.1rem;
}

.name h1 {
    font-size: 6rem;
    letter-spacing: 1.5rem;
    animation: fadeIn ease 6s;
    padding: 2rem;
    padding-left: 0;

}

.name h2 {
    font-size: 2rem;
    font-weight: 100;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-left: 0.1rem;
}

.about h1 {
    display: block;
    font-size: 6rem;
    letter-spacing: 1.5rem;
    padding: 2rem;
    padding-left: 0;
}

.about h2 {
    line-height: 200%;
    font-weight: 100;
}

.projects {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-left: 0.1rem;
}

.projects h6{
    padding: 2rem;
    padding-left: 0;
}

.projects h1 {
    display: block;
    font-size: 6rem;
    letter-spacing: 1.5rem;
    padding: 2rem;
    padding-bottom: 0;
    padding-left: 0;
    align-items: center;
}

.projects h3 {
    padding: 2rem;
    padding-left: 0;
    font-weight: 100;
}

.contact {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-left: 0.1rem;
}

.contact h1 {
    font-size: 6rem;
    letter-spacing: 1.5rem;
    padding: 2rem;
    padding-left: 0;
}

.contact h3 {
    font-size: 1.5rem ;
    font-weight: 100;
}

.contact .icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.contact i {
    color: var(--text-color);
    font-size: 3.5rem;
}

@media only screen and (max-width: 768px) {
    header {
        margin-top: 1px;
    }

    main {
        display: block;    
        box-sizing: border-box;
    }

    .name h1 {
        font-size: 3.3rem;
    }

    .about {
        display: block;
    }

    .about h1 {
        font-size: 4rem;
    }

    .projects h1 {
        font-size: 2.5rem;
    }

    .contact h1 {
        font-size: 2.5rem;
    }
}